[user]
  name = ksmxxxxxx
  email = kankichi69@gmail.com
[core]
  editor = nvim
[color]
  diff = auto
  status = auto
  branch = auto
[alias]
  st     = status
  co     = checkout
  cb     = checkout -b
  br     = branch
  brm    = branch -m
  brd    = branch --delete
  ci     = commit
  cim    = commit -m
  df     = diff
  gr     = grep
  lgo    = log --graph --oneline
  push-f = push --force-with-lease
  pbcopy = !printf "$1" | pbcopy
[commit]
  template = ~/.git_commit_template
[rebase]
  autosquash = true
[init]
  defaultBranch = main
[ghq]
  root = ~/Workspaces
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[tig "bind"]
  main = xcc !@git pbcopy %(commit)
