"*":
  core:
    db:
      machineId: "3ROy79ZY_"
    devMode: true
    lastNavigationState:
      editingNoteId: "note:eaFM3Q5lP2"
      queryContext:
        bookId: "book:AfqSUl8Gy"
        filterKeyword: ""
        includeChildren: false
        mode: "book"
      sidebar:
        workspace:
          bookId: ""
          visible: false
    mainWindow:
      acrylicEnabled: true
      fullscreen: false
      maximized: false
      noteListBar:
        w: 253
      position:
        x: 1351
        y: 506
      sideBar:
        visible: false
      size:
        h: 934
        w: 1148
    themes: [
      "iceberg-syntax"
      "iceberg-preview"
      "iceberg-dark-ui"
    ]
  editor:
    fontFamily: "Ricty,SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace"
    fontSize: 14
    styleActiveLine: true
    unorderedListBullet: "-"
    viewMode: "edit"
