"*":
  core:
    db:
      machineId: "3ROy79ZY_"
    devMode: true
    lastNavigationState:
      editingNoteId: "note:dXgH7T0bP"
      queryContext:
        bookId: "book:OGI96QueP"
        filterKeyword: ""
        includeChildren: false
        mode: "book"
      sidebar:
        workspace:
          bookId: ""
          visible: false
    mainWindow:
      acrylicEnabled: true
      fullscreen: false
      maximized: false
      noteListBar:
        w: 253
      position:
        x: 1176
        y: 558
      sideBar: {}
      size:
        h: 877
        w: 1324
    themes: [
      "iceberg-syntax"
      "iceberg-preview"
      "iceberg-dark-ui"
    ]
  editor:
    fontFamily: "Ricty,SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace"
    fontSize: 14
    showInvisibles: true
    styleActiveLine: true
    unorderedListBullet: "-"
    viewMode: "edit"
